:root {
    /* Globasa flower colours */
    --glbBlue: #0040a9;
    --glbGreen: #008113;

    --glbBlueShade1: #003998;
    --glbBlueShade2: #003387;
    --glbBlueShade3: #002c76;
    --glbBlueShade4: #002665;
    --glbBlueShade5: #002054;
    --glbBlueShade6: #001943;
    --glbBlueShade7: #001332;
    --glbBlueShade8: #000c21;
    --glbBlueShade9: #000610;
    
    --glbBlueTint1: #1953b1;
    --glbBlueTint2: #3266ba;
    --glbBlueTint3: #4c79c2;
    --glbBlueTint4: #668ccb;
    --glbBlueTint5: #7f9fd4;
    --glbBlueTint6: #99b2dc;
    --glbBlueTint7: #b2c5e5;
    --glbBlueTint8: #ccd8ed;
    --glbBlueTint8alpha: #ccd8ed55;
    --glbBlueTint9: #e5ebf6;

    --glbGreenShade1: #007411;
    --glbGreenShade2: #00670f;
    --glbGreenShade3: #005a0d;
    --glbGreenShade4: #004d0b;
    --glbGreenShade5: #004009;
    --glbGreenShade6: #003307;
    --glbGreenShade7: #002605;
    --glbGreenShade8: #001903;
    --glbGreenShade9: #000c01;

    --glbGreenTint1: #198d2a;
    --glbGreenTint2: #329a42;
    --glbGreenTint3: #4ca659;
    --glbGreenTint4: #66b371;
    --glbGreenTint5: #7fc089;
    --glbGreenTint6: #99cca0;
    --glbGreenTint7: #b2d9b8;
    --glbGreenTint8: #cce5cf;
    --glbGreenTint8alpha: #cce5cf55;
    --glbGreenTint9: #e5f2e7;

    --flowerSVG: url(https://cdn.globasa.net/graphics/flower/globasa-flower.svg);
    --flagSVG: url(https://cdn.globasa.net/graphics/flag/glb_flag.svg);

    --glb-gradient-light: linear-gradient(to left, var(--glbBlueTint4), var(--glbGreenTint4));
    --glb-gradient-dark: linear-gradient(to left, var(--glbBlue), var(--glbGreen));
}


body {
    min-height: 100dvh;
}

section.glossary  {
    border: solid thin var(--bd-muted);
    border-radius: 1em;
    background-color: var(--bg-default);
    padding-block: 4px;
    margin-block: 4px;
    /* max-width: 70ch; */
}

section.glossary > a {
    text-decoration: none;
    color: var(--default);
}
article.glossary > header {
    padding-bottom: 0;
    padding-top: -1em;
    margin-bottom: 0;
    border-radius: var(--bd-radius);;
}

main {
    width: 70ch;
    margin: auto;
}

section aside {
    /* max-width: 33%; */
}

h1, h2, h3, h4, h5, h6, .flash {
    clear:both;
}


/* #region header */


nav.navbar {
}

.navbar-item {
}

nav.navbar-brand {
    /* vertical-align:bottom; */
}

#site-title
{
    font-weight: bolder;
    font-size:x-large;

    margin-inline: 0.2em;
}

.navbar-brand {
    a {
    }
}

.navLangSwitcher {
    font-size: xx-large;
    font-weight: 100;
    min-width: 2.5em;
    text-align: center;
}



/* #endregion */


/* #region footer */

footer details {
    text-align: left;
}

footer details {
    overflow-x: hidden;
}

/* #endregion */




@media (prefers-color-scheme: dark) {
    #site-title {
        background: var(--glb-gradient-light);
        -webkit-background-clip: text;
        background-clip: text;
-webkit-text-fill-color: transparent;
    }
}
@media (prefers-color-scheme: light) {
    #site-title {
        background: var(--glb-gradient-dark);
        -webkit-background-clip: text;
        background-clip: text;
-webkit-text-fill-color: transparent;
    }
}